<md-card *ngIf="artist">
  <md-card-header>
    <md-card-title>{{artist.name}}</md-card-title>
    <md-card-subtitle>{{artist.genres | joinGenres}}</md-card-subtitle>
  </md-card-header>
  <img md-card-image [src]="artist.images[0]?.url || defaultImgUrl">
  <md-card-footer class="footer">
    RATING GOES HERE
  </md-card-footer>
  <md-card-actions>
    <button *ngIf="(isInCollection$ | async); else addButton" (click)="removeClicked()" md-raised-button color="warn">
        Remove Book from Collection
    </button>
    <ng-template #addButton>
      <button (click)="addClicked()" md-raised-button color="primary">
        Add Book to Collection
      </button>
    </ng-template>
  </md-card-actions>
</md-card>